.logo-container {
    z-index: 0;
    max-width: -10%;
    width: 400px;
    height: -300px;
    position: absolute;
    top: 0;
    right: 20%;
    bottom: 0;
    left: auto;
    margin: auto;

    svg {
        
    }
}