* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// body {
//     height: 100vh;
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }

.star {
    font-size: 3rem;
    color: #ff9800;
    background-color: unset;
    border: none;
}